<p>Welcome <%= current_user.name %></p>
<% if can? :manage, User %>
<p><%= link_to('Users', users_path) %></p>
<% end %>
<%= link_to('log out',destroy_user_session_path, method: :delete)%>

<h2>Upload your Profile pic</h2>
<%= form_for(current_user, html:{multipart: true}) do |f| %>
	<%= f.file_field :profile_pic %>
	<%= f.submit %>
<% end %>
<%= image_tag current_user.profile_pic.url(:thumbnail) %>